
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.about-page {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.about-hero {
    max-width: 800px;
    margin: 0 auto 30px;
}

.about-hero h1 {
    font-size: 3rem;
    background: linear-gradient(90deg, #38bdf8, #06b6d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-hero p {
    font-size: 1.1rem;
    color: #f0f8ff;
    max-width: 700px;
    margin: 10px auto;
}

.about-docufy {
    max-width: 750px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 12px;
    margin: auto;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.about-docufy h2 {
    font-size: 1.8rem;
    color: #38bdf8;
}

.about-docufy p {
    font-size: 1rem;
    color: #e2e8f0;
    margin-top: 10px;
}

.about-timeline {
    max-width: 750px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.timeline-item {
    display: flex;
    align-items: center;
    gap: 15px;
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 8px;
    border-left: 3px solid #38bdf8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.year {
    font-size: 1.6rem;
    font-weight: bold;
    color: #38bdf8;
    width: 70px;
}

.content h2 {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.content p {
    font-size: 0.95rem;
    color: #f8f9fa;
}

.about-team {
    margin-top: 30px;
}

.about-team h2 {
    font-size: 1.8rem;
    margin-bottom: 1px;
}

.team-member {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
}

.team-member img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.team-member h3 {
    font-size: 1.2rem;
}

.team-member p {
    font-size: 0.9rem;
    color: #e2e8f0;
}

.about-cta {
    margin-top: 30px;
    padding: 25px;
    background: linear-gradient(135deg, #1e293b, #0f172a);
    border-radius: 8px;
    max-width: 700px;
    margin: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.about-cta h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.about-cta p {
    font-size: 1rem;
    color: #cbd5e1;
    margin-bottom: 10px;
}

.about-btn {
    padding: 12px 25px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    background: linear-gradient(135deg, #38bdf8, #06b6d4);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.about-btn:hover {
    transform: scale(1.05);
}


@media screen and (max-width: 450px) {
    .about-hero h1 {
        font-size: 2.5rem;
        background: linear-gradient(90deg, #38bdf8, #06b6d4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
   
}